#dark{

background-color: rgb(0, 0, 0);
Color: rgb(255,255,255);

p {
    color: rgb(0, 0, 0);
}
}
.piglet{
    background-color: rgb(176, 21, 21);
    color:rgb(163, 4, 4);
    padding:20px;
}
h1 span {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    padding: 40px;
    display: inline-block;
    margin: 0;
}

h2 span {
    color: #000000;
    background-color: #ffffff;
    padding: 40px;
    display: inline-block;
    margin: 0;
}

h3 span {
    color: #000000;
    background-color: rgb(255, 255, 255);
    padding: 40px;
    display: inline-block;
    margin: 0;
}

